html {
    
    height: 100%;
    margin: 0;
    border: none;
}

/** {
    border: solid 1px transparent;
}*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

/*
    #272727 black
    #747474 gray
    #FF652F orange
    #FFE400 yellow
    #14A76C green
*/

body {
    height: 100%;
    background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}

.navbar-custom {
    /*background-color: rgba(116, 116, 116, 0.7);*/
    /*background-color: rgba(255, 101, 47, 0.8);*/
    /*background-color: #FF652F;*/
    color: #FFE400;
    margin: 0;
    height: 70px;
}

.navbar-custom a {
    color: #FF652F;
    font-weight: bold;
}

.navbar-brand {
    color: #14A76C !important;
}

.author-title {
    margin: 0;
    padding: 0;
}

span.author-title {
    font-size: 12px;
    color: #F1F1F1;
}

.special-card {
    background-color: rgba(0, 0, 0, 0.7);
    /*background-color: transparent;*/
    color: #FFF;
    border: solid 1px #747474;
}

.border-bottom {
    border-bottom: solid 1px #747474 !important;
}

.about {
    /*background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px #FFF;
    color: #FFF;    
    padding: 20px;*/
    margin: auto 0;
}

.icon-container > span {
    padding: 4px;
}

.icon {
    width: 30px;
    height: 30px;
}

footer {
    /*background-color: rgba(255, 101, 47, 0.6);*/
    font-size: 12px;
    color: #FFF;
}